<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest Book</title>
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/layout.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <article id="contentContainer" class="secondary-background">
      <div class="p-3">
        <h2 class="mb-4">New Ajax Message Form</h2>
        <form id="ajaxform">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
            />
          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              class="form-control"
              id="country"
              name="country"
            />
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
              rows="4"
              cols="50"
            ></textarea>
          </div>

          <button class="btn btn-primary submitBTN" onclick="submitForm()">
            Send
          </button>
        </form>
      </div>
    </article>
    <script>
      document
        .getElementById("ajaxform")
        .addEventListener("submit", (event) => {
          event.preventDefault();
        });

      function submitForm() {
        let form = document.getElementById("ajaxform");

        // Validate form fields
        let username = document.getElementById("username").value.trim();
        let country = document.getElementById("country").value.trim();
        let message = document.getElementById("message").value.trim();

        if (username === "" || country === "" || message === "") {
          alert("Please fill in all fields.");
          return;
        }

        let formData = {
          username: username,
          country: country,
          message: message,
        };

        // console.log(formData);

        fetch("/ajaxmessage", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        })
          .then((response) => response.json()) // Parse the JSON response
          .then((data) => {
            statusMSG = data.statusMSG;
            document.getElementById("statusMessage").innerHTML = statusMSG;
            closeStatusMessage('flex')
          })
          .catch((error) => {
            console.error(error);
            alert("Failed to submit form. Please try again later.");
          });
      }

      function closeStatusMessage(state) {
        const statusMessageElement = document.getElementById("StatusMSG");
        if(state=="flex"){
            statusMessageElement.style.display = "flex"; // Set display to none to hide
        }
        else {
            statusMessageElement.style.display = "none"; // Set display to none to hide
        }
      }
    </script>
    <div
      id="StatusMSG"
      class="flex-column position-absolute mt-5 start-50 end-50 bottom-50 tertiary-background p-3 border border-secondary rounded align-items-center justify-content-center"
    >
      <p id="statusMessage" class="w-100 text-center mb-2"><%= statusMSG %></p>
      <button class="btn btn-danger p-1" onclick="closeStatusMessage('none')">
        Close
      </button>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>

<script>
  // Prevent default form submission behavior
  // form.addEventListener('submit', (event) => {
  //     event.preventDefault();
  // });
</script>
