<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest Book</title>
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/layout.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <article id="contentContainer" class="secondary-background">
      <div class="p-3">
        <h2 class="mb-4">New Message Form</h2>
        <form id="messageForm" action="/newmessage" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
            />
            <small id="usernameError" class="text-danger"></small>
          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              class="form-control"
              id="country"
              name="country"
            />
            <small id="countryError" class="text-danger"></small>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
              rows="4"
              cols="50"
            ></textarea>
            <small id="messageError" class="text-danger"></small>
          </div>
          <button type="submit" class="btn btn-primary submitBTN">Send</button>
        </form>
      </div>
    </article>
    <% if(statusMSG.length > 0){ %>
    <div id="StatusMSGWindown2" class="position-absolute top-0 start-0 end-0 bottom-0 seeThroughContainer">
    <div
      id="StatusMSG"
      class="d-flex flex-column position-absolute start-50 end-50 bottom-50 tertiary-background p-3 border border-secondary rounded align-items-center justify-content-center"
    >
      <p class="w-100 text-center mb-2"><%= statusMSG %></p>
      <button class="btn btn-danger p-1" onclick="closeStatusMessage()">
        Close
      </button>
    </div>
    </div>
    <%}%> <%- include('partials/footer.ejs') %>
  </body>
  <script>
    document
      .getElementById("messageForm")
      .addEventListener("submit", function (event) {
        console.log("Testing")

        let username = document.getElementById("username").value.trim();
        let country = document.getElementById("country").value.trim();
        let message = document.getElementById("message").value.trim();
        let hasError = false;

        // Error checking for username
        if (username === "") {
          document.getElementById("usernameError").innerText =
            "Username cannot be empty";
          hasError = true;
        } else {
          document.getElementById("usernameError").innerText = "";
        }

        // Error checking for country
        if (country === "") {
          document.getElementById("countryError").innerText =
            "Country cannot be empty";
          hasError = true;
        } else {
          document.getElementById("countryError").innerText = "";
        }

        // Error checking for message
        if (message === "") {
          document.getElementById("messageError").innerText =
            "Message cannot be empty";
          hasError = true;
        } else {
          document.getElementById("messageError").innerText = "";
        }

        // Prevent form submission if there's any error
        if (hasError) {
          event.preventDefault();
        }
      });

    function closeStatusMessage() {
      const statusMessageElement = document.getElementById("StatusMSGWindown2");
      if (statusMessageElement) {
        statusMessageElement.style.display = "none"; // Set display to none to hide
      } else {
        console.warn('Element with ID "StatusMSG" not found.'); // Informative warning
      }
    }
  </script>
</html>
