<header class="main-background w-100">
    <nav>
        <ul class="d-flex align-items-center flex-wrap">
            <a href="/">
                <li class="navLink">
                    HomePage
                </li>
            </a>
            <a href="/guestbook">
                <li class="navLink">
                    GuestBook
                </li>
            </a>
            <a href="/newmessage">
                <li class="navLink">
                    New Message
                </li>
            </a>
            <a href="/ajaxmessage">
                <li class="navLink">
                    New Ajax Message
                </li>
            </a>
        </ul>
    </nav>
</header>
